/* Boirders */

.card {
    flex-direction: column;
    display: flex;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none !important;
    border-radius: 0.25rem !important;
    box-shadow: 0 2px 6px 1px hsl(197.8, 74%, 19.6%) !important;
}

body {
    background-color: #0087BF !important;
}

.card-header {
    padding: 12px 10px !important;
    margin-bottom: 0;
    background-color: #fff !important;
    border-bottom: none !important;
}

.list-group-item {
    position: relative;
    display: block;
    background-color: hsl(0, 0%, 100%);
    padding: 12px 10px;
    margin-top: 0px;
}

.list-group-item:hover {
    background-color: hsl(0, 0%, 94.9%);
    border-radius: 0.25rem;
}

.list-group-flush>.list-group-item {
    padding: 12px 10px;
    border: none;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: 12px 10px !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: hsl(210, 9%, 96%) !important;
    background-clip: padding-box;
    border: none !important;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.card>.list-group:last-child {
    border: none !important;
    padding: 12px 10px !important;
    margin-top: -15px !important;
}

.card-header+.list-group .list-group-item:first-child {
    border-top: none !important;
}

.form-control:focus {
    color: #495057;
    background-color: hsl(210, 9%, 96%) !important;
    border-color: none !important;
    outline: 0;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2) !important;
}